<div class="container" style="padding-top:5%">
    <div class="discovery-module-one-pop-out brand-spacing">
        <div class="container">
          <!-- Header title + link to see all -->
          <div class="row">
            <div class="col-10">
              <h2>Discovery module – one pop-out Title here</h2>
            </div>
            <div class="col-1">
              <a href="#" class="btn btn-secondary float-right discovery-header-button">See all<span class="sr-only">&nbsp;about the module XXXX</span></a>
            </div>
          </div>
          <div class="row brand-spacing">
            <div class="col-4">
              <img src="../../../assets/discovery-frame.png" alt="Insight heading to goes here" class="img-fluid">
              <div class="discovery-caption">
                <p class="brand-spacing">
                  Insert your body text in here. Ommoditatur sendand amusanti nobisci psandae dolupta tatur, con corrum sam fugitatiunt aliae
                  pa doluptatur sit aut alite excerei ctasimin.
                </p>
                <a href="#" class="btn btn-secondary discovery-header-button">
                                  Find out more<span class="sr-only">&nbsp;about the TITLE OF THE INSIGHT</span>
                              </a>
              </div>
            </div>
            <div class="col-8">
              <img src="../../../assets/discovery-popout.png" alt="" class="img-fluid float-right">
            </div>
          </div>
        </div>
      </div>
</div> 